openapi: 3.0.0
info:
  title: App Intelligence API
  version: '1.0'
  description: ''
servers:
  - url: https://api.sensortower.com
security:
  - auth_token: []
paths:
  '/v1/{os}/apps':
    get:
      tags:
        - 'OVERVIEW: App Overview'
      description: |
        <p>Retrieve app metadata, such as app name, publisher, categories,
        description, screenshots, rating, etc.</p>
        <p>Limit: <code>100</code> app_ids per call</p>
      operationId: apps
      summary: Fetches app metadata.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            default: ios
            enum:
              - ios
              - android
            type: string
        - description: 'App IDs of apps, separated by commas (limited to 100)'
          in: query
          name: app_ids
          required: true
          explode: false
          examples:
            ios:
              value:
                - '284882215'
                - '1262148500'
              summary: integer (iOS)
            android:
              value:
                - com.facebook.katana
              summary: string (Android)
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: |-
            Country Code,
            <a target='_blank' href='/api/docs/static/country_ids.json'>Country Codes</a>
            (defaults to "US")
          in: query
          name: country
          schema:
            default: US
            type: string
        - description: Include SDK Insights data (requires subscription)
          in: query
          name: include_sdk_data
          schema:
            default: false
            type: boolean
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                type: object
                properties:
                  apps:
                    type: array
                    items:
                      type: object
                      properties:
                        app_id:
                          oneOf:
                            - type: string
                            - type: integer
                          example: 284882215
                        canonical_country:
                          type: string
                          example: US
                        name:
                          type: string
                          example: Facebook
                        publisher_name:
                          type: string
                          example: 'Facebook, Inc.'
                        publisher_id:
                          type: integer
                          example: 284882218
                        humanized_name:
                          type: string
                          example: Facebook
                        icon_url:
                          type: string
                          example: 'https://is2-ssl.mzstatic.com/image/thumb/Purple125/v4/7d/4a/8d/7d4a8d0f-ecb1-8d12-fc55-993cceece1df/Icon-Production-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/150x150bb.png'
                        os:
                          type: string
                          example: ios
                        url:
                          type: string
                          example: 'https://apps.apple.com/US/app/id284882215?l=en'
                        categories:
                          type: array
                          items:
                            type: integer
                          example:
                            - 6005
                        valid_countries:
                          type: array
                          items:
                            type: string
                          example:
                            - US
                            - AU
                            - CA
                            - CN
                            - FR
                            - DE
                            - GB
                            - IT
                            - JP
                            - KR
                            - RU
                        app_view_url:
                          type: string
                          example: /ios/us/facebook-inc/app/facebook/284882215/
                        publisher_profile_url:
                          type: string
                          example: /publisher/ios/284882218
                        release_date:
                          type: string
                          example: '2008-07-11T07:00:00Z'
                        updated_date:
                          type: string
                          example: '2021-09-09T00:00:00Z'
                        in_app_purchases:
                          type: boolean
                          example: true
                        rating:
                          type: number
                          format: float
                          example: 2.2044
                        price:
                          type: number
                          format: float
                          example: 0
                        global_rating_count:
                          type: integer
                          example: 4793919
                        rating_count:
                          type: integer
                          example: 1122455
                        rating_count_for_current_version:
                          type: integer
                          example: 1122455
                        rating_for_current_version:
                          type: number
                          format: float
                          example: 2.2044
                        version:
                          type: string
                          example: '335.0'
                        apple_watch_enabled:
                          type: boolean
                          example: null
                        imessage_enabled:
                          type: boolean
                          example: null
                        imessage_icon:
                          type: string
                          example: null
                        humanized_worldwide_last_month_downloads:
                          type: object
                          properties:
                            downloads:
                              type: integer
                              example: 10000000
                            downloads_rounded:
                              type: integer
                              example: 10
                            prefix:
                              type: string
                              example: null
                            string:
                              type: string
                              example: 10m
                            units:
                              type: string
                              example: m
                        humanized_worldwide_last_month_revenue:
                          type: object
                          properties:
                            prefix:
                              type: string
                              example: $
                            revenue:
                              type: integer
                              example: 6000000
                            revenue_rounded:
                              type: integer
                              example: 6
                            string:
                              type: string
                              example: $6m
                            units:
                              type: string
                              example: m
                        bundle_id:
                          type: string
                          example: com.facebook.Facebook
                        support_url:
                          type: string
                          example: 'http://www.facebook.com/help/?page=18834'
                        website_url:
                          type: string
                          example: 'http://www.facebook.com/mobile'
                        privacy_policy_url:
                          type: string
                          example: 'http://www.facebook.com/about/privacy/'
                        eula_url:
                          type: string
                          example: 'https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewEula?cc=vn&id=284882215'
                        publisher_email:
                          type: string
                          example: null
                        publisher_address:
                          type: string
                          example: null
                        publisher_country:
                          type: string
                          example: US
                        feature_graphic:
                          type: string
                          example: null
                        short_description:
                          type: string
                          example: null
                        advisories:
                          type: array
                          items:
                            type: string
                          example:
                            - Infrequent/Mild Mature/Suggestive Themes
                            - Infrequent/Mild Profanity or Crude Humor
                            - Infrequent/Mild Sexual Content or Nudity
                            - 'Infrequent/Mild Alcohol, Tobacco, or Drug Use or References'
                        content_rating:
                          type: string
                          example: 12+
                        unified_app_id:
                          type: string
                          example: 55c530a702ac64f9c0002dff
                        screenshot_urls:
                          type: array
                          items:
                            type: string
                          example:
                            - 'https://is1-ssl.mzstatic.com/image/thumb/Purple115/v4/0c/6b/d9/0c6bd93d-11dc-adb7-7330-45d6abaabfd0/4fc694b4-e2fe-4826-97a7-56f724ede23a_More-Together1_iOS_6.5.jpg/1284x2778bb.png'
                            - 'https://is5-ssl.mzstatic.com/image/thumb/Purple115/v4/5f/b6/c5/5fb6c537-3ebc-c4ba-f7c9-0d33528e24d2/07828a10-83a1-43e6-b44c-48f03aa48686_More-Together2_iOS_6.5.jpg/1284x2778bb.png'
                        tablet_screenshot_urls:
                          type: array
                          items:
                            type: string
                          example:
                            - 'https://is1-ssl.mzstatic.com/image/thumb/Purple125/v4/28/75/e4/2875e456-86fb-b7f8-ad1c-7505aa2aecea/mzl.ghlgunye.png/576x768bb.png'
                            - 'https://is1-ssl.mzstatic.com/image/thumb/Purple115/v4/5d/65/07/5d650739-8eff-a533-6211-f4f9d6b77f79/mzl.ouqckawq.png/552x414bb.png'
                        description:
                          type: string
                          example: 'Connect with friends, family and people who share the same interests as you. Communicate privately, watch your favorite content, buy and sell items or just spend time with your community. On Facebook, keeping up with the people who matter most is easy. Discover, enjoy and do more together.'
                        subtitle:
                          type: string
                          example: ''
                        promo_text:
                          type: string
                          example: ''
                        permissions:
                          type: boolean
                          example: null
                        supported_languages:
                          type: array
                          items:
                            type: string
                          example:
                            - EN
                            - ES
                        country_release_date:
                          type: string
                          example: '2008-07-11T07:00:00Z'
        '401':
          description: '<strong>Invalid authentication token.</strong> <br> Generate an API authentication token on your <a target="_blank" href="https://app.sensortower.com/users/edit/api-settings">account profile (API Settings tab)</a> and ensure that your organization has access to this product. <br> Please contact the Sensor Tower team for more information.'
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Invalid authentication token.
                required:
                  - error
                type: object
        '403':
          description: '<strong>Forbidden.</strong> <br> Your API token is not valid. <br> If you lost your API token you can generate a new one on your <a target="_blank" href="https://app.sensortower.com/users/edit/api-settings">account profile (API Settings tab)</a> or contact the Sensor Tower team for more information.'
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: Your API token is not authorized.
                required:
                  - error
                type: object
        '422':
          description: <strong>Invalid Query Parameter.</strong> <br> Please check that all required params are present and valid.
          content:
            application/json:
              schema:
                properties:
                  errors:
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          example: 'Required parameter: name is missing'
                      required:
                        - title
                    type: array
                required:
                  - errors
                type: object
  /v1/ios/apps/top_in_app_purchases:
    get:
      tags:
        - 'OVERVIEW: App Overview'
      description: |
        <p>Retrieve top in-app purchases for the requested App IDs.</p>
        <p>Limit: 100 <code>app_ids</code> per call</p>
      operationId: top_in_app_purchases
      summary: Fetches the top in-app purchases for particular apps.
      parameters:
        - description: 'App IDs of apps, separated by commas (limited to 100)'
          in: query
          name: app_ids
          required: true
          explode: false
          examples:
            ios:
              value:
                - '529479190'
                - '1262148500'
              summary: integer (iOS)
            android:
              value:
                - com.facebook.katana
              summary: string (Android)
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: |-
            Specify the country you want update history for,
                          <a target='_blank' href='/api/docs/static/country_ids.json'>Country Codes</a> (defaults to "US")
          in: query
          name: country
          schema:
            type: string
      responses:
        '200':
          description: <strong>Success.</strong>
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/sales_report_estimates':
    get:
      tags:
        - 'PERFORMANCE: Downloads & Revenue'
      description: |-
        Retrieve download and revenue estimates of apps by country and date. <a target='blank' href='/api/docs/static/sales_report_estimates_key.json'>
          Download / Revenue Estimate Response Key
        </a> <br><br> <strong>Note:</strong> The latest day's available Google Play estimates may change. More data becomes available to us a day later and we use this data to recalibrate the estimate for increased accuracy. <br><br> <b>At least one app ID, or one publisher ID is required.</b> Some Android publisher IDs contain commas. If you want to query by these publisher IDs, please use the <b>array parameter format</b> instead of the comma separated format. (I.e. <code>?publisher_ids[]=AndroidPubId1&publisher_ids[]=AndroidPubId2&publisher_ids[]=...</code>) <br><br> There are times when the API will timeout or return an <b>Internal Server Error</b> response.  When this occurs, it is recommended to segment the query by <b>start_date</b> and <b>end_date</b> depending on the <b>date_granularity</b> as follows: <br> <table>
          <tr>
            <td><b>date_granularity</b></td>
            <td><b>Recommendation</b></td>
          </tr>
          <tr>
            <td>daily</td>
            <td>limit start_date and end_date to 1 week segments</td>
          </tr>
          <tr>
            <td>weekly</td>
            <td>limit start_date and end_date to 3 month segments</td>
          </tr>
          <tr>
            <td>monthly</td>
            <td>limit start_date and end_date to 1 year segments</td>
          </tr>
          <tr>
            <td>quarterly</td>
            <td>limit start_date and end_date to 2 year segments</td>
          </tr>
        </table> <br><br> <strong>Note:</strong> All revenues are returned in cents.
      operationId: sales_report_estimates
      summary: Fetches download and revenue estimates of apps and publishers.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            default: ios
            enum:
              - ios
              - android
              - unified
            type: string
        - description: 'IDs of apps, separated by commas'
          in: query
          name: app_ids
          explode: false
          example:
            - '284882215'
            - '310633997'
          schema:
            items:
              default: ''
              type: string
            type: array
        - description: 'Publisher IDs of apps, separated by commas <span style=''color: #FF0000''>(See implementation notes for specific implementations regarding Android publisher IDs)</span>'
          in: query
          name: publisher_ids
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: 'Specify the countries you want download / revenue for, <a target=''_blank'' href=''/api/docs/static/country_ids.json''>Country Codes</a>, separated by commas (use "WW" for worldwide)'
          in: query
          name: countries
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: 'Aggregate estimates by granularity (use "daily", "weekly", "monthly", or "quarterly") defaults to "daily"'
          in: query
          name: date_granularity
          required: true
          schema:
            default: daily
            enum:
              - daily
              - weekly
              - monthly
              - quarterly
            type: string
        - description: 'Start Date, `YYYY-MM-DD` Format'
          in: query
          name: start_date
          required: true
          example: '2021-07-15'
          schema:
            type: string
            format: date
        - description: 'End Date, `YYYY-MM-DD` Format'
          in: query
          name: end_date
          required: true
          example: '2021-07-20'
          schema:
            type: string
            format: date
        - description: 'Specify the data model used to generate estimates. Use "DM_2025_Q1" to access Sensor Tower’s legacy estimates,  or "DM_2025_Q2" to access estimates produced by our new, improved models. Access to this parameter is limited to eligible accounts. If you believe you should have access, please contact your Account Director.'
          in: query
          name: data_model
          required: false
          schema:
            default: DM_2025_Q2
            enum:
              - DM_2025_Q2
              - DM_2025_Q1
            type: string
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    description: iOS Response
                    items:
                      properties:
                        aid:
                          type: number
                          description: The iOS app ID.
                        cc:
                          type: string
                          description: Country code.
                        d:
                          type: string
                          format: date-time
                          description: Metric observation date.
                        iu:
                          type: string
                          description: iPhone Downloads
                        ir:
                          type: string
                          description: iPhone Revenue
                        au:
                          type: string
                          description: iPad Downloads
                        ar:
                          type: string
                          description: iPad Revenue
                  - type: array
                    description: Android Response
                    items:
                      properties:
                        aid:
                          type: string
                          description: The Android app ID.
                        c:
                          type: string
                          description: Country code.
                        d:
                          type: string
                          format: date-time
                          description: Metric observation date.
                        u:
                          type: string
                          description: Android downloads.
                        r:
                          type: string
                          example: Android revenue.
                  - type: array
                    description: Unified Response
                    items:
                      properties:
                        app_id:
                          type: string
                          description: The unified app ID.
                        country:
                          type: string
                          description: Country Code
                        date:
                          type: string
                          format: date-time
                          description: Metric observation date.
                        android_units:
                          type: number
                          description: Android downloads.
                        android_revenue:
                          type: number
                          description: Android revenue.
                        ipad_units:
                          type: number
                          description: iPad downloads.
                        ipad_revenue:
                          type: number
                          description: iPad revenue.
                        iphone_units:
                          type: number
                          description: iPhone downloads.
                        iphone_revenue:
                          type: number
                          description: iPhone revenue.
                        unified_units:
                          type: number
                          description: Unified downloads.
                        unified_revenue:
                          type: number
                          description: Unified revenue.
              examples:
                ios:
                  summary: iOS Response
                  value:
                    - aid: 284882215
                      cc: AE
                      d: '2021-07-15T00:00:00Z'
                      au: 135
                      ar: 1815
                      iu: 1459
                      ir: 200438
                android:
                  summary: Android Response
                  value:
                    - aid: com.facebook.katana
                      c: AE
                      d: '2021-07-15T00:00:00Z'
                      u: 2163
                      r: 84500
                unified:
                  summary: Unified Response
                  value:
                    - app_id: 55c530a702ac64f9c0002dff
                      country: AE
                      date: '2021-07-15T00:00:00Z'
                      android_units: 3585
                      android_revenue: 84500
                      ipad_units: 135
                      ipad_revenue: 1815
                      iphone_units: 1705
                      iphone_revenue: 200438
                      unified_units: 5425
                      unified_revenue: 286753
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/compact_sales_report_estimates':
    get:
      tags:
        - 'PERFORMANCE: Downloads & Revenue'
      description: |
        Retrieve datasets of download and revenue estimates of apps by country and date. All revenues are returned in cents. <br><br> <strong>Note:</strong> The latest few days estimates could change since our models retroactively increase accuracy of recent data. <br> This endpoint lags behind regular <a href="/api/docs/app_analysis#/PERFORMANCE%3A%20Downloads%20%26%20Revenue/sales_report_estimates" target="_blank">Download / Revenue Estimates</a> endpoint a few hours and this can cause a temporary discrepancy of data between these two endpoints. <br><br> At least one of the App ID, Publisher ID, or Category parameters is required. <br><br> If a response is too large or if the endpoint takes too long to respond it will return an error. To prevent this, reduce the number of apps requested per call: <br> <table>
          <tr>
            <td><b>Parameter</b></td>
            <td><b>Recommendation</b></td>
          </tr>
          <tr>
            <td>app_ids, unified_app_ids</td>
            <td>No more than 100 IDs</td>
          </tr>
          <tr>
            <td>publisher_ids, unified_publisher_ids</td>
            <td>If a publisher has many apps it's recommended to fetch one publisher at a time</td>
          </tr>
        </table>
      operationId: compact_sales_report_estimates
      summary: Fetches download and revenue estimates of apps and publishers in compact format.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            enum:
              - ios
              - android
            type: string
        - description: 'Start Date, `YYYY-MM-DD` Format'
          in: query
          name: start_date
          required: true
          schema:
            default: '2020-01-01'
            format: date
            type: string
        - description: 'End Date, `YYYY-MM-DD` Format'
          in: query
          name: end_date
          required: true
          schema:
            default: '2020-01-02'
            format: date
            type: string
        - description: 'IDs of apps, separated by commas'
          in: query
          name: app_ids
          example:
            - '284882215'
            - '310633997'
          explode: false
          schema:
            items:
              default: ''
              type: string
            type: array
        - description: |
            Publisher IDs of apps. Please use the <b>array parameter format</b><br>
            (i.e. publisher_ids[]=id1&publisher_ids[]=id2&...)
          in: query
          name: 'publisher_ids[]'
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: 'IDs of unified apps, separated by commas'
          in: query
          name: unified_app_ids
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: 'IDs of unified publishers, separated by commas'
          in: query
          name: unified_publisher_ids
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: |-
            Categories, separated by commas, see
                          <a target='_blank' href='/api/docs/static/category_ids.json'>Category IDs</a>.
          in: query
          name: categories
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: Aggregate estimates by granularity
          in: query
          name: date_granularity
          schema:
            default: daily
            enum:
              - daily
              - weekly
              - monthly
              - quarterly
            type: string
        - description: 'Specify the data model used to generate estimates. Use "DM_2025_Q1" to access Sensor Tower’s legacy estimates,  or "DM_2025_Q2" to access estimates produced by our new, improved models. Access to this parameter is limited to eligible accounts. If you believe you should have access, please contact your Account Director.'
          in: query
          name: data_model
          required: false
          schema:
            default: DM_2025_Q2
            enum:
              - DM_2025_Q2
              - DM_2025_Q1
            type: string
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                type: object
                required:
                  - serialized_sales_reports
                  - lookup_table
                  - publisher_lookup_table
                  - unified_publisher_lookup_table
                properties:
                  lookup_table:
                    description: key/value pairs of app_id/unified_app_id and publisher_id/unified_publisher_id
                    type: object
                  publisher_lookup_table:
                    description: key/value pairs of app_id/publisher_id
                    type: object
                  serialized_sales_reports:
                    description: |-
                      <a target='blank' href='/api/docs/static/serialized_sales_report_estimates_key.json'>
                                Serialized sales report estimates format</a>
                    items: {}
                    type: array
                  unified_publisher_lookup_table:
                    description: key/value pairs of app_id/unified_publisher_id
                    type: object
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/usage/active_users':
    get:
      tags:
        - 'PERFORMANCE: Active Users'
      description: Retrieve active user estimates of apps per country by date and time period.
      operationId: usage_active_users
      summary: Fetches active user estimates of apps.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            enum:
              - ios
              - android
              - unified
            type: string
        - description: 'IDs of apps, separated by commas. Maximum 500 app ids. With "unified" os use Unified App IDs.<br>If apps that do not meet <a target=''_blank'' href=''https://help.sensortower.com/hc/en-us/articles/6985667275675-What-is-a-Disabled-Small-App-in-Usage-Intelligence-''> minimum requirements for usage estimates</a> are requested, they will not be taken into consideration.'
          in: query
          name: app_ids
          required: true
          explode: false
          examples:
            ios:
              value:
                - '284882215'
                - '310633997'
              summary: integer (iOS)
            android:
              value:
                - com.facebook.katana
              summary: string (Android)
            unified:
              value:
                - 55c530a702ac64f9c0002dff
              summary: string (Unified)
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: 'Aggregate estimates by time period. Use "day" to get DAU, "week" for WAU, "month" for MAU.'
          in: query
          name: time_period
          required: true
          schema:
            default: day
            enum:
              - day
              - week
              - month
            type: string
        - description: 'Start Date, `YYYY-MM-DD` Format. <br> Auto-changes to the beginning of time_period. Note that weeks begin on Monday.'
          in: query
          name: start_date
          required: true
          example: '2021-01-01'
          schema:
            type: string
            format: date
        - description: 'End Date, `YYYY-MM-DD` Format.<br> Auto-changes to the end of the specified time_period.'
          in: query
          name: end_date
          required: true
          example: '2021-01-03'
          schema:
            type: string
            format: date
        - description: |
            Countries to return results for, separated by commas, <a target='_blank' href='/api/v1/usage/countries.json'>Country Codes</a>. <br> Also supports 'WW' code (Worldwide).
          in: query
          name: countries
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: 'Specify the data model used to generate estimates. Use "DM_2025_Q1" to access Sensor Tower’s legacy estimates,  or "DM_2025_Q2" to access estimates produced by our new, improved models. Access to this parameter is limited to eligible accounts. If you believe you should have access, please contact your Account Director.'
          in: query
          name: data_model
          required: false
          schema:
            default: DM_2025_Q2
            enum:
              - DM_2025_Q2
              - DM_2025_Q1
            type: string
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    description: iOS Response
                    items:
                      properties:
                        app_id:
                          type: number
                          description: The app's ID.
                        country:
                          type: string
                          description: Country code.
                        date:
                          type: string
                          format: date-time
                          description: Metric observation date.
                        ipad_users:
                          type: number
                          description: Active iPad users.
                        iphone_users:
                          type: number
                          description: Active iPhone users.
                  - type: array
                    description: Android Response
                    items:
                      properties:
                        app_id:
                          type: string
                          description: The app's ID.
                        country:
                          type: string
                          description: Country code.
                        date:
                          type: string
                          format: date-time
                          description: Metric observation date.
                        users:
                          type: number
                          description: Active Android users.
                  - type: array
                    description: Unified Response
                    items:
                      properties:
                        app_id:
                          type: string
                          description: The app's ID.
                        country:
                          type: string
                          description: Country code.
                        date:
                          type: string
                          format: date-time
                          description: Metric observation date.
                        android_users:
                          type: number
                          description: Active Android users.
                        ipad_users:
                          type: number
                          description: Active iPad Users.
                        iphone_users:
                          type: number
                          description: Active iPhone Users.
              examples:
                ios:
                  summary: iOS Response
                  value:
                    - app_id: 284882215
                      country: AE
                      date: '2021-01-01T00:00:00Z'
                      ipad_users: 121456
                      iphone_users: 1536760
                android:
                  summary: Android Response
                  value:
                    - app_id: com.facebook.katana
                      country: AE
                      date: '2021-01-01T00:00:00Z'
                      users: 2944254
                unified:
                  summary: Unified Response
                  value:
                    - app_id: 55c530a702ac64f9c0002dff
                      country: AE
                      date: '2021-01-01T00:00:00Z'
                      android_users: 3176714
                      ipad_users: 121471
                      iphone_users: 1582627
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/category/category_history':
    get:
      tags:
        - 'PERFORMANCE: Category Rankings'
      description: 'Retrieve historical ranking information for a particular app, category, and chart type. You can request data for multiple apps, categories, chart types, and countries. Please refer to the parameter''s description for more information.'
      operationId: category_history
      summary: 'Fetches detailed category ranking history of a particular app, category, and chart type.'
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            default: ios
            enum:
              - ios
              - android
            type: string
        - description: IDs of Apps (separated by commas)
          in: query
          name: app_ids
          required: true
          explode: false
          examples:
            ios:
              value:
                - '284882215'
                - '310633997'
              summary: integer (iOS)
            android:
              value:
                - com.facebook.katana
              summary: string (Android)
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: Category ID to return results for (<a target='_blank' href='/api/docs/static/category_ids.json'>Category Ids</a>).
          in: query
          name: category
          required: true
          schema:
            type: string
          examples:
            ios:
              value: 6005
              summary: Social Networking (iOS)
            android:
              value: business
              summary: Business (Android)
        - description: |-
            IDs of the Chart Type, separated by commas <br> <a target='_blank' href='/api/docs/static/chart_type_ids.json'>
              Chart Type Ids Mapping
            </a>
          in: query
          name: chart_type_ids
          required: true
          explode: false
          example:
            - topfreeapplications
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: 'Specify the countries you want download rankings for, separated by commas <br> <a target=''_blank'' href=''/api/docs/static/country_ids.json''>Country Codes</a>'
          in: query
          name: countries
          required: true
          explode: false
          example:
            - US
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: 'Start Date, `YYYY-MM-DD` format (defaults to 90 days ago)'
          in: query
          name: start_date
          schema:
            type: string
            format: date
        - description: 'End Date, `YYYY-MM-DD` format (defaults to today)'
          in: query
          name: end_date
          schema:
            type: string
            format: date
        - description: Hourly rankings (only for iOS)
          in: query
          name: is_hourly
          schema:
            default: false
            type: boolean
      responses:
        '200':
          description: <strong>Success.</strong>
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/category/category_ranking_summary':
    get:
      tags:
        - 'PERFORMANCE: Category Rankings'
      description: 'Retrieve today''s category ranking summary for a particular app with data on chart type, category, and rank.'
      operationId: category_ranking_summary
      summary: Fetches today's category ranking summary of a particular app.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            default: ios
            enum:
              - ios
              - android
            type: string
        - description: ID of App
          in: query
          name: app_id
          required: true
          example: '284882215'
          schema:
            type: string
        - description: 'Specify the country you want download rankings for, <a target=''_blank'' href=''/api/docs/static/country_ids.json''>Country Codes</a>'
          in: query
          name: country
          required: true
          schema:
            default: US
            type: string
      responses:
        '200':
          description: <strong>Success.</strong>
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/ad_intel/creatives':
    get:
      tags:
        - 'ADVERTISING: Creative Gallery'
      description: Fetches creatives for an advertising app and includes Share of Voice and top publishers for each creative.
      operationId: creatives
      summary: Fetches creatives for advertising apps.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            default: unified
            enum:
              - ios
              - android
              - unified
            type: string
        - description: 'Apps to return creatives for, separated by commas.'
          in: query
          name: app_ids
          required: true
          examples:
            unified:
              value:
                - 56cbbce9d48401b048003405
              summary: string (Unified)
            ios:
              value:
                - '835599320'
              summary: integer (iOS)
            android:
              value:
                - com.zhiliaoapp.musically
              summary: string (Android)
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: 'Start date for creatives, `YYYY-MM-DD` format.'
          in: query
          name: start_date
          required: true
          example: '2023-01-01'
          schema:
            type: string
            format: date
        - description: 'End date for creatives, `YYYY-MM-DD` format. (defaults to today)'
          in: query
          name: end_date
          required: false
          example: '2023-01-31'
          schema:
            type: string
            format: date
        - description: 'Countries to return results for, separated by commas (<a target=''_blank'' href=''/api/ios/ad_intel/countries.json''>Countries</a>).'
          in: query
          name: countries
          required: true
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
          example:
            - US
        - description: 'Networks to return results for, separated by commas. List of networks: (<a target=''_blank'' href=''/api/ios/ad_intel/creative_networks.json''>ios networks</a>), (<a target=''_blank'' href=''/api/android/ad_intel/creative_networks.json''>android networks</a>), (<a target=''_blank'' href=''/api/unified/ad_intel/creative_networks.json''>unified networks</a>).'
          in: query
          name: networks
          required: true
          explode: false
          example:
            - Admob
          schema:
            items:
              type: string
              enum:
                - Adcolony
                - Admob
                - Applovin
                - BidMachine
                - Chartboost
                - Digital Turbine
                - Facebook
                - InMobi
                - Instagram
                - Line
                - Meta Audience Network
                - Mintegral
                - Moloco
                - Mopub
                - Pangle
                - Pinterest
                - Smaato
                - Snapchat
                - Supersonic
                - Tapjoy
                - TikTok
                - Twitter
                - Unity
                - Verve
                - Vungle
                - Youtube
            type: array
        - description: 'Ad types to include, separated by commas.'
          in: query
          name: ad_types
          required: true
          explode: false
          example:
            - video
          schema:
            type: array
            items:
              type: string
              enum:
                - image
                - image-banner
                - image-interstitial
                - image-other
                - banner
                - full_screen
                - video
                - video-rewarded
                - video-interstitial
                - video-other
                - playable
                - interactive-playable
                - interactive-playable-rewarded
                - interactive-playable-other
        - description: 'Limits the number of creatives returned, maximum of 100.'
          in: query
          name: limit
          required: false
          example: 10
          schema:
            maximum: 100
            enum:
              - 10
              - 50
              - 100
            type: integer
        - description: Page number. Total number of pages can be calculated by dividing "count" from response by limit size.
          in: query
          name: page
          required: false
          schema:
            default: 1
            type: integer
        - description: Display breakdown flags. Control if breakdown fields (breakdown and top_publishers) displays in ad unit.
          in: query
          name: display_breakdown
          required: false
          schema:
            default: true
            type: boolean
        - description: 'Ad placement(s) to include, separated by commas.'
          in: query
          name: placements
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - ad_on_reel
                - feed
                - marketplace
                - player
                - reel
                - search
                - story
                - other
        - description: 'The video durations to include, separated by commas. To filter video durations using ranges, one can specify the start and end points of each range in seconds, separated by a colon. For instance, `10:30` would filter videos longer than 10 seconds but 30 seconds or shorter. Multiple ranges can be applied simultaneously, with the logic that a video''s duration only needs to meet the criteria of one range to be included. Open-ended ranges are also possible, where only one end of the range is specified, such as `:3` to include videos up to 3 seconds long, or `60:` for videos longer than 60 seconds.'
          in: query
          name: video_durations
          required: false
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: 'Specify the aspect ratios to include, separated by commas. This applies to all creative ad types except banners; for banners this parameter is ignored. The parameter can accept one or more values from a predefined set of common aspect ratios available. Aspect ratio sets are used as buckets, grouping creatives that might not fit the ratio fully, as we assume a small margin of error while computing the exact width and height'
          in: query
          name: aspect_ratios
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - '9:16'
                - '4:5'
                - '1:1'
                - '1.91:1'
                - '16:9'
                - '2:3'
                - other
        - description: 'Specify the banner dimensions to include, separated by commas. This applies to banner creatives only; this parameter will be ignored for the creatives of other ad types. The parameter can accept one or more values from a predefined set.'
          in: query
          name: banner_dimensions
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - 970x250
                - 728x90
                - 350x110
                - 320x50
                - other
        - description: 'New creative flag. If the parameter''s value is ''true'', the endpoint will return new creatives only. The new creatives are creatives which are first seen in requested date range.'
          in: query
          name: new_creative
          required: false
          schema:
            default: false
            type: boolean
      responses:
        '200':
          description: <strong>Success.</strong>
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/ad_intel/network_analysis':
    get:
      tags:
        - 'ADVERTISING: Network Analysis'
      description: Fetches the SOV time series of the requested apps.
      operationId: impressions
      summary: Fetches the impressions share of voice (SOV) time series of the requested apps.
      parameters:
        - description: Operating System.
          in: path
          name: os
          required: true
          schema:
            default: unified
            enum:
              - ios
              - android
              - unified
            type: string
        - description: 'Apps to return SOV for, separated by commas.'
          in: query
          name: app_ids
          required: true
          examples:
            unified:
              value:
                - 5570fc1cfe55ad5778000621
              summary: string (Unified)
            ios:
              value:
                - '284882215'
                - '1262148500'
              summary: integer (iOS)
            android:
              value:
                - com.zhiliaoapp.musically
              summary: string (Android)
          explode: false
          schema:
            type: array
            maxItems: 5
            items:
              default: ''
              type: string
        - description: 'Start date for the impressions share of voice data, `YYYY-MM-DD` format. Minimum date is 2018-01-01.'
          in: query
          name: start_date
          required: true
          example: '2023-01-01'
          schema:
            type: string
        - description: 'End date for the impressions share of voice data, `YYYY-MM-DD` format.'
          in: query
          name: end_date
          required: true
          example: '2023-01-31'
          schema:
            type: string
        - description: Time period to calculate Share of Voice for.
          in: query
          name: period
          required: true
          schema:
            default: month
            enum:
              - day
              - week
              - month
            type: string
        - description: 'Networks to return results for, separated by commas (<a target=''_blank'' href=''/api/unified/ad_intel/networks.json''>Networks</a>).'
          in: query
          name: networks
          required: false
          explode: false
          example:
            - Facebook
          schema:
            items:
              type: string
              enum:
                - Adcolony
                - Admob
                - Applovin
                - BidMachine
                - Chartboost
                - Digital Turbine
                - Facebook
                - InMobi
                - Instagram
                - Line
                - Meta Audience Network
                - Mintegral
                - Moloco
                - Mopub
                - Pangle
                - Pinterest
                - Smaato
                - Snapchat
                - Supersonic
                - Tapjoy
                - TikTok
                - Twitter
                - Unity
                - Verve
                - Vungle
                - Youtube
            type: array
        - description: 'Countries to return results for, separated by commas (<a target=''_blank'' href=''/api/ios/ad_intel/countries.json''>Countries</a>).'
          in: query
          name: countries
          required: false
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
          example:
            - US
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                type: array
                description: SOV data points array.
                items:
                  type: object
                  description: Array with the time series data points.
                  properties:
                    app_id:
                      type:
                        - integer
                        - string
                      description: 'App ID. For ios it is an integer, otherwise a string.'
                      example: 55d3a1a802ac64350a000d9d
                    country:
                      type: string
                      minLength: 2
                      maxLength: 2
                      description: Country code.
                      example: US
                    network:
                      type: string
                      description: Network name.
                      example: Admob
                    date:
                      type: string
                      description: YYYY-MM-DD Date.
                      example: '2023-01-01'
                    sov:
                      type: number
                      description: Share of Voice as a ratio. 0 indicates the SOV is smaller than 0.000001 and was rounded to 0. For a % multiply this value by 100.
                      example: 0.04
                  additionalProperties: false
              example:
                - app_id: 55d3a1a802ac64350a000d9d
                  country: AE
                  network: Applovin
                  date: '2023-01-01'
                  sov: 0.04
                - app_id: 55d3a1a802ac64350a000d9d
                  country: AE
                  network: Youtube
                  date: '2023-01-01'
                  sov: 0.01
                - app_id: 55d3a1a802ac64350a000d9d
                  country: AE
                  network: Applovin
                  date: '2023-01-02'
                  sov: 0.02
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/ad_intel/network_analysis/rank':
    get:
      tags:
        - 'ADVERTISING: Network Analysis'
      description: 'Fetches the ranks for the countries, networks and dates of the requested apps.'
      operationId: impressions_rank
      summary: 'Fetches the ranks for the countries, networks and dates of the requested apps.'
      parameters:
        - description: Operating System.
          in: path
          name: os
          required: true
          schema:
            default: unified
            enum:
              - ios
              - android
              - unified
            type: string
        - description: 'Apps to return SOV for, separated by commas.'
          in: query
          name: app_ids
          required: true
          examples:
            unified:
              value:
                - 5570fc1cfe55ad5778000621
              summary: string (Unified)
            ios:
              value:
                - '284882215'
                - '1262148500'
              summary: integer (iOS)
            android:
              value:
                - com.zhiliaoapp.musically
              summary: string (Android)
          explode: false
          schema:
            type: array
            maxItems: 5
            items:
              default: ''
              type: string
        - description: 'Start date for the rank data, `YYYY-MM-DD` format. Minimum date is 2018-01-01.'
          in: query
          name: start_date
          required: true
          example: '2023-01-01'
          schema:
            type: string
        - description: 'End date for the rank data, `YYYY-MM-DD` format.'
          in: query
          name: end_date
          required: true
          example: '2023-01-31'
          schema:
            type: string
        - description: Time period to calculate ranks for.
          in: query
          name: period
          required: true
          schema:
            default: day
            enum:
              - day
              - week
            type: string
        - description: 'Networks to return results for, separated by commas (<a target=''_blank'' href=''/api/unified/ad_intel/networks.json''>Networks</a>).'
          in: query
          name: networks
          required: false
          explode: false
          example:
            - Facebook
          schema:
            items:
              type: string
              enum:
                - Adcolony
                - Admob
                - Applovin
                - BidMachine
                - Chartboost
                - Digital Turbine
                - Facebook
                - InMobi
                - Instagram
                - Line
                - Meta Audience Network
                - Mintegral
                - Moloco
                - Mopub
                - Pangle
                - Pinterest
                - Smaato
                - Snapchat
                - Supersonic
                - Tapjoy
                - TikTok
                - Twitter
                - Unity
                - Verve
                - Vungle
                - Youtube
            type: array
        - description: 'Countries to return results for, separated by commas (<a target=''_blank'' href=''/api/ios/ad_intel/countries.json''>Countries</a>).'
          in: query
          name: countries
          required: false
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
          example:
            - US
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                type: array
                description: rank data points array.
                items:
                  type: object
                  description: Array with the time series data points.
                  properties:
                    app_id:
                      type:
                        - integer
                        - string
                      description: 'App ID. For ios it is an integer, otherwise a string.'
                      example: 55d3a1a802ac64350a000d9d
                    country:
                      type: string
                      minLength: 2
                      maxLength: 2
                      description: Country code.
                      example: US
                    network:
                      type: string
                      description: Network name.
                      example: Admob
                    date:
                      type: date
                      description: YYYY-MM-DD Date.
                      example: '2023-01-01'
                    rank:
                      type: integer
                      description: 'the rank for the app in a given country, network, date and period.'
                      example: 23
                  additionalProperties: false
              example:
                - app_id: 55d3a1a802ac64350a000d9d
                  country: US
                  network: Admob
                  date: '2023-05-08'
                  rank: 127
                - app_id: 55d3a1a802ac64350a000d9d
                  country: US
                  network: Admob
                  date: '2023-05-09'
                  rank: 211
                - app_id: 55d3a1a802ac64350a000d9d
                  country: US
                  network: Facebook
                  date: '2023-05-08'
                  rank: 3
                - app_id: 55d3a1a802ac64350a000d9d
                  country: JP
                  network: Admob
                  date: '2023-05-08'
                  rank: 44
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/usage/retention':
    get:
      tags:
        - 'ACQUISITION & CHURN: Retention'
      description: |
        Retrieve retention of apps (from day 1 to day 90), along with the baseline retention. <br><br> Mapping between confidence levels and their respective confidence color in the UI: <br> <table>
          <tr>
            <td>UI Color</td>
            <td>Confidence Level</td>
          </tr>
          <tr>
            <td>red</td><td> &lt= 3</td>
          </tr>
          <tr>
            <td>yellow</td><td>4 - 6</td>
          </tr>
          <tr>
            <td>green</td><td> &gt= 7</td>
          </tr>
        </table>
      operationId: app_analysis_retention
      summary: Fetches retention of apps.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            default: ios
            enum:
              - ios
              - android
            type: string
        - description: 'IDs of apps, separated by commas. Maximum 500 app ids.<br>If apps that do not meet  <a target=''_blank'' href=''https://help.sensortower.com/hc/en-us/articles/6985667275675-What-is-a-Disabled-Small-App-in-Usage-Intelligence-''> minimum requirements for usage estimates</a> are requested, they will not be taken into consideration; their IDs can be found in the disabled_app_ids field.'
          in: query
          name: app_ids
          required: true
          explode: false
          examples:
            ios:
              value:
                - '284882215'
                - '310633997'
              summary: integer (iOS)
            android:
              value:
                - com.facebook.katana
              summary: string (Android)
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: ' Aggregate estimates by granularity (use "all_time", or "quarterly") '
          in: query
          name: date_granularity
          required: true
          schema:
            default: all_time
            enum:
              - all_time
              - quarterly
            type: string
        - description: 'Start Date, `YYYY-MM-DD` Format'
          in: query
          name: start_date
          required: true
          example: '2021-01-01'
          schema:
            type: string
            format: date
        - description: 'End Date, `YYYY-MM-DD` Format. If specified, all date periods between start_date and end_date are to be returned. E.g. if ''date_granularity'' is set to ''quarterly'', ''start_date'' is ''2021-01-01'' and ''end_date'' is ''2021-08-01'', response will contain data for Q1, Q2 and Q3 of 2021. If ''date_granularity'' is set to ''all_time'', ''end_date'' parameter is ignored.'
          in: query
          name: end_date
          required: false
          example: '2021-04-01'
          schema:
            type: string
            format: date
        - description: |
            Country (<a target='_blank' href='/api/v1/usage/countries.json'>country codes</a>) or region (<a target='_blank' href='/api/v1/usage/regions.json'>region codes</a>) to return results for. (Leave blank for Worldwide.) <br> Quarterly regional and country data begins in Q1 2021. Worldwide and All Time data goes back to Q4 2015.
          in: query
          name: country
          schema:
            type: string
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: iOS/Android Response
                    properties:
                      app_data:
                        properties:
                          app_id:
                            type: string
                            description: Number or string.
                          confidence:
                            type: number
                            description: Indicator of how many signals we have on the selected app. This indicates the robusteness and strength of data within the Sensor Tower panel of users.
                          country:
                            type: string
                            description: Country code.
                          date_granularity:
                            type: string
                            description: Time frame in how estimates are aggregated.
                          date:
                            type: string
                            format: date-time
                            description: Metric observation start date.
                          end_date:
                            type: string
                            format: date-time
                            description: Metric observation end date.
                          corrected_retention:
                            type: array
                            items:
                              type: number
                            description: Percentages of the average user's chance to continue using the app after a specfic day. The list of percentages is in ascending order from day 1 to day 90.
                      baseline_data:
                        description: This is skewed average data across all apps. These fields do not provide any insights to the queried apps.
                      disabled_app_ids:
                        description: This field houses any disabled small apps that have no estimates.
              examples:
                ios:
                  summary: Android Response
                  value:
                    - app_data:
                        - app_id: com.facebook.katana
                          confidence: 23
                          country: WW
                          date_granularity: all_time
                          date: '2015-08-01T00:00:00Z'
                          end_date: null
                          corrected_retention:
                            - 0.641365
                            - 0.605596
                            - 0.576656
                            - 0.555671
                            - 0.540764
                            - 0.529187
                            - 0.519009
                            - 0.509435
                            - 0.500467
                            - 0.492388
                            - 0.485526
                            - 0.479945
                            - 0.475415
                            - 0.471465
                            - 0.467711
                            - 0.464046
                            - 0.460681
                            - 0.457869
                            - 0.455706
                            - 0.453985
                            - 0.45242
                            - 0.450756
                            - 0.448989
                            - 0.447201
                            - 0.445529
                            - 0.444005
                            - 0.442611
                            - 0.441283
                            - 0.439979
                            - 0.438362
                            - 0.436831
                            - 0.435451
                            - 0.434256
                            - 0.433233
                            - 0.432332
                            - 0.431479
                            - 0.430633
                            - 0.429797
                            - 0.429011
                            - 0.428302
                            - 0.427643
                            - 0.426971
                            - 0.426232
                            - 0.425432
                            - 0.424633
                            - 0.423902
                            - 0.423253
                            - 0.422632
                            - 0.421955
                            - 0.421179
                            - 0.420348
                            - 0.419575
                            - 0.418973
                            - 0.418577
                            - 0.418325
                            - 0.418102
                            - 0.417818
                            - 0.417469
                            - 0.417133
                            - 0.416913
                            - 0.416842
                            - 0.416835
                            - 0.416749
                            - 0.416475
                            - 0.41603
                            - 0.415522
                            - 0.415075
                            - 0.414733
                            - 0.414459
                            - 0.414173
                            - 0.41383
                            - 0.413456
                            - 0.413123
                            - 0.412884
                            - 0.412733
                            - 0.412605
                            - 0.41243
                            - 0.412175
                            - 0.411859
                            - 0.411535
                            - 0.41126
                            - 0.411048
                            - 0.41086
                            - 0.410619
                            - 0.410278
                            - 0.40985
                            - 0.409418
                            - 0.409065
                            - 0.408829
                            - 0.408677
                      baseline_data:
                        - 0.0307
                        - 0.021
                        - 0.0173
                        - 0.0153
                        - 0.0142
                        - 0.0133
                        - 0.0125
                        - 0.0115
                        - 0.0108
                        - 0.01
                        - 0.0096
                        - 0.0095
                        - 0.0094
                        - 0.0089
                        - 0.0086
                        - 0.0083
                        - 0.0081
                        - 0.0081
                        - 0.008
                        - 0.0079
                        - 0.0078
                        - 0.0075
                        - 0.0073
                        - 0.007
                        - 0.007
                        - 0.0067
                        - 0.0068
                        - 0.0069
                        - 0.0067
                        - 0.0065
                        - 0.0063
                        - 0.0063
                        - 0.0064
                        - 0.0063
                        - 0.0062
                        - 0.0059
                        - 0.0059
                        - 0.0059
                        - 0.0055
                        - 0.0056
                        - 0.0056
                        - 0.0056
                        - 0.0055
                        - 0.0053
                        - 0.0054
                        - 0.0053
                        - 0.0054
                        - 0.0053
                        - 0.0051
                        - 0.0049
                        - 0.005
                        - 0.005
                        - 0.005
                        - 0.0051
                        - 0.0053
                        - 0.0049
                        - 0.0048
                        - 0.0049
                        - 0.0048
                        - 0.0048
                        - 0.0046
                        - 0.0046
                        - 0.0047
                        - 0.0047
                        - 0.0047
                        - 0.0047
                        - 0.0044
                        - 0.0045
                        - 0.0045
                        - 0.0045
                        - 0.0042
                        - 0.0043
                        - 0.0043
                        - 0.0043
                        - 0.0043
                        - 0.0045
                        - 0.0044
                        - 0.004
                        - 0.0038
                        - 0.0041
                        - 0.0042
                        - 0.0041
                        - 0.0042
                        - 0.0042
                        - 0.0042
                        - 0.0041
                        - 0.0043
                        - 0.0042
                        - 0.0041
                        - 0.004
                      disabled_app_ids: []
                android:
                  summary: iOS Response
                  value:
                    - app_data:
                        - app_id: 284882215
                          confidence: 15
                          country: WW
                          date_granularity: all_time
                          date: '2015-08-01T00:00:00Z'
                          end_date: null
                          corrected_retention:
                            - 0.583537
                            - 0.547593
                            - 0.520823
                            - 0.50354
                            - 0.491967
                            - 0.482574
                            - 0.473597
                            - 0.464776
                            - 0.456371
                            - 0.448475
                            - 0.442018
                            - 0.437096
                            - 0.433436
                            - 0.429863
                            - 0.426528
                            - 0.423242
                            - 0.42008
                            - 0.417311
                            - 0.415231
                            - 0.413171
                            - 0.411163
                            - 0.409243
                            - 0.407374
                            - 0.405568
                            - 0.403818
                            - 0.402142
                            - 0.400524
                            - 0.39896
                            - 0.397471
                            - 0.395986
                            - 0.394603
                            - 0.393233
                            - 0.391906
                            - 0.390707
                            - 0.38959
                            - 0.388508
                            - 0.387476
                            - 0.38645
                            - 0.38544
                            - 0.384466
                            - 0.383503
                            - 0.382574
                            - 0.381672
                            - 0.380796
                            - 0.37993
                            - 0.379072
                            - 0.37826
                            - 0.37747
                            - 0.376711
                            - 0.375991
                            - 0.375308
                            - 0.37463
                            - 0.373964
                            - 0.37331
                            - 0.372661
                            - 0.372023
                            - 0.371405
                            - 0.370794
                            - 0.37022
                            - 0.36965
                            - 0.369112
                            - 0.368577
                            - 0.368073
                            - 0.36757
                            - 0.367074
                            - 0.366588
                            - 0.366106
                            - 0.36564
                            - 0.365176
                            - 0.364711
                            - 0.364247
                            - 0.363782
                            - 0.363324
                            - 0.362865
                            - 0.362407
                            - 0.361949
                            - 0.361491
                            - 0.361033
                            - 0.360578
                            - 0.360124
                            - 0.359685
                            - 0.359246
                            - 0.358807
                            - 0.358369
                            - 0.35793
                            - 0.357492
                            - 0.357062
                            - 0.356632
                            - 0.356202
                            - 0.355773
                      baseline_data:
                        - 0.0307
                        - 0.021
                        - 0.0173
                        - 0.0153
                        - 0.0142
                        - 0.0133
                        - 0.0125
                        - 0.0115
                        - 0.0108
                        - 0.01
                        - 0.0096
                        - 0.0095
                        - 0.0094
                        - 0.0089
                        - 0.0086
                        - 0.0083
                        - 0.0081
                        - 0.0081
                        - 0.008
                        - 0.0079
                        - 0.0078
                        - 0.0075
                        - 0.0073
                        - 0.007
                        - 0.007
                        - 0.0067
                        - 0.0068
                        - 0.0069
                        - 0.0067
                        - 0.0065
                        - 0.0063
                        - 0.0063
                        - 0.0064
                        - 0.0063
                        - 0.0062
                        - 0.0059
                        - 0.0059
                        - 0.0059
                        - 0.0055
                        - 0.0056
                        - 0.0056
                        - 0.0056
                        - 0.0055
                        - 0.0053
                        - 0.0054
                        - 0.0053
                        - 0.0054
                        - 0.0053
                        - 0.0051
                        - 0.0049
                        - 0.005
                        - 0.005
                        - 0.005
                        - 0.0051
                        - 0.0053
                        - 0.0049
                        - 0.0048
                        - 0.0049
                        - 0.0048
                        - 0.0048
                        - 0.0046
                        - 0.0046
                        - 0.0047
                        - 0.0047
                        - 0.0047
                        - 0.0047
                        - 0.0044
                        - 0.0045
                        - 0.0045
                        - 0.0045
                        - 0.0042
                        - 0.0043
                        - 0.0043
                        - 0.0043
                        - 0.0043
                        - 0.0045
                        - 0.0044
                        - 0.004
                        - 0.0038
                        - 0.0041
                        - 0.0042
                        - 0.0041
                        - 0.0042
                        - 0.0042
                        - 0.0042
                        - 0.0041
                        - 0.0043
                        - 0.0042
                        - 0.0041
                        - 0.004
                      disabled_app_ids: []
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/downloads_by_sources':
    get:
      tags:
        - 'ACQUISITION & CHURN: Downloads by Source'
      description: 'Fetch percentages and absolute values for all three download sources: organic, paid, and browser. <br> Regardless of the OS parameter, this endpoint only accepts Unified app IDs and returns data grouped by Unified app IDs.'
      operationId: downloads_by_sources
      summary: Fetches app downloads by sources
      parameters:
        - description: 'Operating System. This parameter doesn''t affect app_ids. It always expects Unified apps IDs. <br> If "Android" or "iOS" is selected, only apps from this platform will be taken into account.'
          in: path
          name: os
          required: true
          schema:
            default: unified
            enum:
              - ios
              - android
              - unified
            type: string
        - description: 'Unified app IDs, separated by commas'
          in: query
          name: app_ids
          required: true
          explode: false
          example:
            - 55c5027502ac64f9c0001fa6
          schema:
            items:
              default: ''
              type: string
            type: array
        - description: 'Country codes, separated by commas. For worldwide data, use ''WW''. <br> Note that this product leverages the set of worldwide countries available in Google Play, which notably excludes China. <br> <a target=''_blank'' href=''/api/docs/static/country_ids.json''>Country Codes</a>.'
          in: query
          name: countries
          required: true
          example:
            - WW
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: Aggregate estimates by granularity (use "daily" or "monthly"). Defaults to "monthly".
          in: query
          name: date_granularity
          required: false
          schema:
            default: monthly
            enum:
              - daily
              - monthly
            type: string
        - description: 'Start Date, `YYYY-MM-DD` Format'
          in: query
          name: start_date
          required: true
          example: '2023-01-01'
          schema:
            type: string
            format: date
        - description: 'End Date, `YYYY-MM-DD` Format'
          in: query
          name: end_date
          required: true
          example: '2023-02-28'
          schema:
            type: string
            format: date
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        app_id:
                          type: string
                          description: Unified App ID
                        breakdown:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                                format: date
                                description: First day of described month
                              organic_abs:
                                type: number
                                description: Number of organic downloads
                              browser_abs:
                                type: number
                                description: Number of browser downloads
                              paid_abs:
                                type: number
                                description: Number of paid downloads
                              organic_frac:
                                type: number
                                description: 'Fraction of organic downloads, ≤ 1.0'
                              browser_frac:
                                type: number
                                description: 'Fraction of browser downloads, ≤ 1.0'
                              paid_frac:
                                type: number
                                description: 'Fraction of paid downloads, ≤ 1.0'
              example:
                data:
                  - app_id: 55c5027502ac64f9c0001fa6
                    breakdown:
                      - date: '2022-02-01'
                        organic_abs: 165995
                        browser_abs: 2677
                        paid_abs: 13430
                        organic_frac: 0.91154
                        browser_frac: 0.0147
                        paid_frac: 0.07376
                      - date: '2022-03-01'
                        organic_abs: 133189
                        browser_abs: 9242
                        paid_abs: 22630
                        organic_frac: 0.8069
                        browser_frac: 0.05599
                        paid_frac: 0.13711
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/consumer_intel/churn_analysis':
    get:
      tags:
        - 'ACQUISITION & CHURN: Acquisition & Churn'
      description: |
        Fetches app churn rate as well as active user breakdown metrics (percentage of new, resurrected, and retained users). <br> <br> <strong>Note:</strong> There may be gaps in the data in which case null values will be given.
      operationId: churn_analysis
      summary: Fetches churn analysis.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            default: android
            enum:
              - android
            type: string
        - description: |
            IDs of selection cohorts, separated by commas. (Max: 5) <br> Can be queried with <a href="/api/docs/app_analysis#/ACQUISITION%20%26%20CHURN%3A%20Acquisition%20%26%20Churn/churn_analysis_cohorts" target="_blank">
              Churn Analysis Cohorts
            </a>
          in: query
          name: selection_cohort_ids
          required: true
          example:
            - cohort_85b0b0a055f66ee9d9461187
          explode: false
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: Country to return results for (leave blank for Worldwide)
          in: query
          name: country
          required: false
          schema:
            type: string
            enum:
              - LATIN_AM
              - SE_ASIA
              - TIER_1
              - US
        - description: Churn Analysis by granularity
          in: query
          name: granularity
          required: true
          schema:
            default: monthly
            enum:
              - monthly
            type: string
        - description: 'Start Date, `YYYY-MM-DD` Format (minimum date: 2020-05-01)'
          in: query
          name: start_date
          required: true
          schema:
            default: '2020-05-01'
            format: date
            type: string
        - description: 'End Date, `YYYY-MM-DD` Format'
          in: query
          name: end_date
          required: true
          schema:
            default: '2020-05-31'
            format: date
            type: string
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    items:
                      type: object
                      required:
                        - active_user_breakdown
                        - selection_cohort_id
                      properties:
                        active_user_breakdown:
                          items:
                            type: object
                            required:
                              - date
                              - new_users_ratio
                              - resurrected_users_ratio
                              - retained_users_ratio
                              - churned_users_ratio
                            properties:
                              date:
                                format: date
                                type: string
                              new_users_ratio:
                                type: number
                              resurrected_users_ratio:
                                type: number
                              retained_users_ratio:
                                type: number
                              churned_users_ratio:
                                type: number
                        selection_cohort_id:
                          type: string
                    type: array
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/consumer_intel/churn_analysis/cohorts':
    get:
      tags:
        - 'ACQUISITION & CHURN: Acquisition & Churn'
      description: Fetches the available cohorts.
      operationId: churn_analysis_cohorts
      summary: Fetches cohorts.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            enum:
              - android
            type: string
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        type:
                          type: string
                      required:
                        - id
                        - name
                        - type
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/consumer_intel/cohort_retention':
    get:
      tags:
        - 'ACQUISITION & CHURN: Acquisition & Churn'
      description: Fetches the cohort retention from a specific subset of panel users.
      operationId: cohort_retention
      summary: Fetches cohort retention.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            default: android
            enum:
              - android
            type: string
        - description: |
            IDs of selection cohorts, separated by commas. (Max: 5) <br> Can be queried with <a href="/api/docs/app_analysis#/ACQUISITION%20%26%20CHURN%3A%20Acquisition%20%26%20Churn/cohort_retention_cohorts" target="_blank">
              Cohort Retention Cohorts
            </a>
          in: query
          name: selection_cohort_ids
          required: true
          explode: false
          example:
            - cohort_85b0b0a055f66ee9d9461187
          schema:
            type: array
            items:
              default: ''
              type: string
        - description: Retention by granularity
          in: query
          name: granularity
          required: true
          schema:
            default: weekly
            enum:
              - weekly
              - monthly
            type: string
        - description: 'Start Date, `YYYY-MM-DD` Format (minimum date: 2020-03-30)'
          in: query
          name: start_date
          required: true
          schema:
            default: '2020-03-30'
            format: date
            type: string
        - description: 'End Date, `YYYY-MM-DD` Format'
          in: query
          name: end_date
          required: true
          schema:
            default: '2020-04-27'
            format: date
            type: string
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    items:
                      type: object
                      required:
                        - cohort_retention
                        - selection_cohort_id
                      properties:
                        cohort_retention:
                          items:
                            type: object
                            required:
                              - date
                              - retention
                            properties:
                              date:
                                format: date
                                type: string
                              retention:
                                items:
                                  type: number
                                type: array
                          type: array
                        selection_cohort_id:
                          type: string
                    type: array
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/consumer_intel/cohort_retention/cohorts':
    get:
      tags:
        - 'ACQUISITION & CHURN: Acquisition & Churn'
      description: Fetches the available cohorts.
      operationId: cohort_retention_cohorts
      summary: Fetches cohorts.
      parameters:
        - description: Operating System
          in: path
          name: os
          required: true
          schema:
            enum:
              - android
            type: string
      responses:
        '200':
          description: <strong>Success.</strong>
          content:
            application/json:
              schema:
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        type:
                          type: string
                      required:
                        - id
                        - name
                        - type
        '401':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/401'
        '403':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/403'
        '422':
          $ref: '#/paths/~1v1~1%7Bos%7D~1apps/get/responses/422'
  '/v1/{os}/usage/demographics':
    get:
      tags:
        - 'USAGE: Demographics'
      description: |
[...]
